/* Universal Styling */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --bg-color: #646881;
    --txt-color: #C3BEF7;
    --link-text-color: #FFFFFF;
}

a {
    text-decoration: none;
    list-style: none;
}

::placeholder {
    color: var(--txt-color);
}

/* Header Styling */
.header {
    background-color: var(--bg-color);
}

.welcome_txt {
    display: flex;
    justify-content: center;
    color: var(--txt-color);
    font-size: 1.5rem;
}

/* "Add a Book" Button Styling */
.book_btn_box {
    margin: 0 auto;
    display: block;
}

.book_btn {
    display: block;
    max-width: 300px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 5px;
}

/* Cancel & Submit Buttons */
.cnl_btn, .submit_btn {
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px;
        margin: 2px;
        margin-bottom: 5px;
        font-size: 20px;  
        background-color: var(--bg-color);
        color: var(--txt-color);
}

/* Add Book Container */
.add_book_container, .add_book_container > form > input {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Footer Styling */
.footer {
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: 1.125rem; 
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer > a {
    color: var(--txt-color);
}

.footer > a:hover {
    color: var(--link-text-color);
}
